@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0 auto;
  place-items: center;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}